2/RailwayE-TicketReservationSystem/ClientWebApp/Connected Services/RouteServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RailwayE_TicketReservationSystem/RouteService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RailwayE_TicketReservationSystem" />
  <xs:element name="AddRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RailwayE_TicketReservationSystem" minOccurs="0" name="route" nillable="true" type="q1:Route" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRouteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RailwayE_TicketReservationSystem" minOccurs="0" name="GetRoutesResult" nillable="true" type="q2:ArrayOfRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>