2/RailwayE-TicketReservationSystem/ClientWebApp/Connected Services/RouteServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RailwayE_TicketReservationSystem" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RailwayE_TicketReservationSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RailwayE_TicketReservationSystem/RouteService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Route">
    <xs:sequence>
      <xs:element minOccurs="0" name="eTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="routeId" type="ser:guid" />
      <xs:element minOccurs="0" name="sTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trainId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Route" nillable="true" type="tns:Route" />
  <xs:complexType name="ArrayOfRoute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Route" nillable="true" type="tns:Route" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoute" nillable="true" type="tns:ArrayOfRoute" />
</xs:schema>